* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header nav ul {
    display: flex;
    padding: 20px 0; 
    list-style-type: none; 
}

.navbar-link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.main-section {
    flex: 1;
}

.main-section-title {
    font-size: 70px;
    color: red;
}
.main-section-subtitle {
    font-size: 35px;
}
