* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header nav ul {
    display: flex; 
    list-style-type: none; 
}

.header nav ul li {
    margin-right: 20px;
    color: #fff;
} 

.main-section {
    flex: 1;
}